<h1>Controle Financeiro</h1>

<hr>

<h2>Meta de Vendas</h2>
<% if @meta_atual %>
  <p>Sua meta de <%= Date::MONTHNAMES[@mes_atual] %>/<%= @ano_atual %>: <strong><%= @meta_atual.valor_meta %></strong></p>

  <%= form_with model: @meta_atual, url: atualizar_meta_path(@meta_atual), method: :patch do |f| %>
    <%= f.number_field :valor_meta, step: 0.01 %>
    <%= f.submit "Atualizar meta" %>
  <% end %>

  <%= button_to "Excluir meta", deletar_meta_path(@meta_atual), method: :delete, data: { confirm: "Tem certeza?" } %>
<% else %>
  <p>Você não tem meta para <%= Date::MONTHNAMES[@mes_atual] %>/<%= @ano_atual %>.</p>
  <%= form_with model: @nova_meta, url: controle_financeiro_metas_path do |f| %>
    <%= f.hidden_field :mes, value: @mes_atual %>
    <%= f.hidden_field :ano, value: @ano_atual %>
    <%= f.number_field :valor_meta, step: 0.01, placeholder: "Valor da meta" %>
    <%= f.submit "Criar meta" %>
  <% end %>
<% end %>

<h3>Metas anteriores</h3>
<ul>
  <% @metas_anteriores.each do |m| %>
    <li><%= Date::MONTHNAMES[m.mes] %>/<%= m.ano %> — <%= m.valor_meta %>
      <%= button_to "Excluir", deletar_meta_path(m), method: :delete, data: { confirm: "Excluir?" } %>
    </li>
  <% end %>
</ul>

<hr>

<h2>Orçamento Mensal</h2>
<% if @orcamento_atual %>
  <p>Sua meta de <%= Date::MONTHNAMES[@mes_atual] %>/<%= @ano_atual %>: <strong><%= @orcamento_atual.valor%></strong></p>

  <%= form_with model: @orcamento_atual, url: atualizar_orcamento_path(@orcamento_atual), method: :patch do |f| %>
    <%= f.number_field :valor, step: 0.01 %>
    <%= f.submit "Atualizar orçamento" %>
  <% end %>

  <%= button_to "Excluir orçamento", deletar_orcamento_path(@orcamento_atual), method: :delete, data: { confirm: "Tem certeza?" } %>
<% else %>
  <p>Você não tem orçamento para <%= Date::MONTHNAMES[@mes_atual] %>/<%= @ano_atual %>.</p>
  <%= form_with model: @novo_orcamento, url: controle_financeiro_orcamentos_path do |f| %>
    <%= f.hidden_field :mes, value: @mes_atual %>
    <%= f.hidden_field :ano, value: @ano_atual %>
    <%= f.number_field :valor, step: 0.01, placeholder: "Valor do orçamento" %>
    <%= f.submit "Criar orçamento" %>
  <% end %>
<% end %>

<h3>Orçamentos anteriores</h3>
<ul>
  <% @orcamentos_anteriores.each do |m| %>
    <li><%= Date::MONTHNAMES[m.mes] %>/<%= m.ano %> — <%= m.valor_meta %>
      <%= button_to "Excluir", deletar_orcamento_path(m), method: :delete, data: { confirm: "Excluir?" } %>
    </li>
  <% end %>
</ul>

<hr>

<h2>Despesas</h2>
<%= form_with model: @nova_despesa, url: controle_financeiro_despesas_path do |f| %>
  <%= f.number_field :valor, step: 0.01, placeholder: "Valor" %>
  <%= f.date_field :data %>
  <%= f.text_field :descricao, placeholder: "Descrição" %>
  <%= f.submit "Adicionar" %>
<% end %>

<ul>
  <% @despesas.each do |d| %>
    <li><%= d.data %>: <%= d.descricao %> — <%= d.valor %>
      <%= button_to "Excluir", deletar_despesa_path(d), method: :delete %>
    </li>
  <% end %>
</ul>
