<h1>Bem-vindo, <%= current_user.nome %>!</h1>
<p>Escolha uma funcionalidade abaixo:</p>

<ul>
  <li><%= link_to "Novo Upload", notas_fiscais_path %></li>
  <li><%= link_to "Exportações", exportacoes_path %></li>
  <li><%= link_to "Gráficos", graficos_path %></li>
  <li><%= link_to "Busca", busca_path %></li>
  <li><%= link_to "Faturamento", faturamento_index_path %></li>
  <li><%= link_to "Faturamento por Cliente", faturamento_por_cliente_path %></li>
  <li><%= link_to "DANFEs por período", filter_danfes_path %></li>
  <li><%= link_to "Month Receipts", month_receipts_path %></li>
</ul>

<hr>

<%= button_to "Sair", destroy_session_path, method: :delete %>
